.p2w {
  background-image: url("../assets/bg2.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 0;
  color: rgb(250, 235, 215);
  font-family: "Rubik";
}

.topbar {
  width: 100vw;
  height: 30vh;
  align-items: normal;
  padding: 2%;
}

.bossTitle {
  font-weight: bolder;
  font-size: 72px;
  padding-bottom: 1%;
}

#lo {
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner-inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(250, 235, 215);
  animation: loading-spinner-animation 0.8s infinite linear;
}

.loading-text {
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: rgb(250, 235, 215);
  opacity: 0;
  animation: loading-text-animation 0.5s infinite;
}

.fun-animation {
  display: inline-block;
  animation: fun-text-animation 0.5s infinite;
}

@keyframes loading-spinner-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes loading-text-animation {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes fun-text-animation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

.mainframe {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 96vw;
}

.leftframe {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  border-right: 2px solid antiquewhite;
  border-bottom: 2px solid antiquewhite;
  border-radius: 10px;
  justify-content: space-between;
  padding-bottom: 1vh;
}

hr {
  width: 96%;
}

#homebutton{
  background-color: rgba(1,1,1,0);
  cursor:pointer;
}


li{
  list-style-type: none;
  font-size: x-large;
  padding-top: 3%;
}

#Fname{
  font-weight: bold;
  padding-bottom: 0.5%;
}
